Checks: '-*,clang-analyzer-*,bugprone-*,performance-*,modernize-use-nullptr,modernize-use-override'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*[/\\]src[/\\].*'
CheckOptions:
  bugprone-easily-swappable-parameters.MinimumLength: '4'
